.main-header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100vw;
  background-color: #cf6a87;
}

.main-header .img-logo {
  width: 3%;
  margin: 1rem;
  margin-left: auto;
}

.main-header .nav-menu {
  margin-right: auto;
  margin-left: 30rem;
}

.main-header .item-menu {
  padding: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white-color);
}
