:root {
  --primary-color: #303952;
  --white-color: #fff;
  --gap: 3rem;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arial", sans-serif;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

.container {
  background-color: #23424a;
  color: white;

  width: 80%;
  margin: 0 auto;

  padding: 2em;
  height: 300px;
}
