:root {
  --primary-color: #303952;
  --white-color: #fff;
  --first-color: #23424a;
  --seconde-color: #136c72;
  --third-color: #38cfd9;
  --gap: 5rem;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 2.1rem;
}

h1 {
  font-size: 5rem;
}

img {
  max-width: 100%;
}

.section-title {
  color:#87629A ;
  margin-bottom: 1em;
}

.btn {
  display: inline-block;
  background-color: var(--third-color);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3.1rem;
  padding: 1em 3em;
  color: #072a2d;
  font-weight: 900;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}



.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}



.hero {
  background-color: var(--first-color);
  color: #fff;
  padding: 14.8rem 0;
}

.first--container {
  display: flex;
  justify-content: space-between;
}
.hero__text,
.primary-content {
  width: 62%;
}

.hero__text h1 {
  margin-bottom: 0.5em;
}

.hero__text p {
  line-height: 3rem;
  margin-bottom: 3em;
}

.hero__img {
  align-self: flex-start;
  width: 32%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.main-container {

    margin-top: 3em;
    margin-bo: 3em;

  
}


.sidebar  {
  align-self: flex-start;
  width: 32%;
  text-align: center;
  background-color: #136c72;
  color: #fff;
  padding: 1em;
}

.sidebar-title {
  margin-top: 1em;
  margin-bottom: 1em;

}





/*
.hero2 {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.wrap-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.second--container {
  width: 60%;
}

.hero2__col h2 {
  color: #136c72;
  margin-top: 2em;
  margin-bottom: 0.5em;
  text-align: justify;
}

.third--container {
  width: 30%;
  background-color: #136c72;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em;
  color: #fff;
}

.hero2__col2 {
  text-align: center;
  line-height: 2.5rem;
}

.hero2__col2 p {
  margin-top: 2em;
  margin-bottom: 2em;
}
