:root {

  --primary-color: #303952;
  --white-color: #fff;
  --first-color:#23424A;
  --seconde-color:#136C72;
  --third-color:#38CFD9;
  --gap: 3rem;
  font-size: 62.5%;

}


*, *::before, *::after{
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 2.1rem;

}

h1 {
  font-size: 5rem;
}

.hero {
  background-color: var(--first-color);
  color: #fff;
  padding: 14.8rem 0;

}


.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;

}


.hero__text {
 width: 60%;

  
}

.hero__text h1 {

  margin-bottom: .5em; 
  

}
.hero__text p {
  
  margin-bottom:  3em; 
  line-height: 3rem;
  

}

.btn {
  display: inline-block;
  background-color: var(--third-color);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3.1rem;
  padding: 1em 3em;
  color: #072A2D;
  font-weight: 900;

}

.btn:hover,
.btn:focus {
    opacity: .75;
}




/*

.card {
  width: 30%;
  box-shadow: 0 0 15px rgba(0,0,0, .20);
  display: flex;
}

.card__content{
  padding: 8rem 4rem;
}

.card__title {
  font-weight: 800;
  color: #444;
  font-size: 3.5rem;
  margin-bottom: .5rem;
}


.card__subtitle {
  font-size: 1.4rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: limegreen;
  margin-bottom: 5rem;
}

.card__description {
  font-size: 1rem;
  line-height: 1.8;
  color: #777;

  margin-bottom: 5rem;
}

.card__price {
  color: #444;
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 2.5rem;
}

.card__button {
  display: inline-block;
  background-color:limegreen;
  color: black;
  text-decoration:none;
  padding: 1.3rem 2.5rem;
}

.card__button:hover {
  background-color:green;
  color: white;

}

.card__img-container {
  overflow: hidden;
  
}

/*
html {
  line-height: 1.6;
  font-family: "Rubik", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.grid {
  display: flex;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.col {
  flex: 1;
  padding: 0 1em;
}

h1 {
  color: steelblue;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: steelblue;
  padding: 1em 4em;
}

* {
  box-sizing: border-box;
}

.hero {
  background: linear-gradient(to left, #83a4d4, #b6fbff);
  padding: 10vh 0;

  height: 100vh;
}

.hero-img {
  box-shadow: 3px 3px 25px 5px rgba(0, 0, 0, 0.5);
}

.hero-title {
  font-size: 8vw;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 0 0.25em;
}

.hero-text {
  font-size: 1.2em;
  line-height: 1.7;
  margin: 0 0 1.5em;
}

.more-content {
  background: url(//unsplash.it/800/400);
  background-size: cover;
  height: 1000px;
}
